h1{
    font-size: 40px;
    font-weight: 800;
}

h2{
    font-size: 28px;
    font-weight: 600;
}

h3{
    font-size: 16px;
    font-weight: 800; 
    
}

.note-card p{
    font-size: 16px;
    font-weight: 400;
}